/* Made with love by Mutiullah Samim*/



html,body{
background-image: url('logo2.png');
background-repeat:repeat;
   
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 120px;

width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}